@model List<KidKinder.Entities.Address>
@{
    ViewBag.Title = "AddressList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <div class="page-body">
                <div class="card">
                    <div class="card-header">
                        <h5>Açık Adres Listesi </h5>
                        <span>Adres ile ilgili işlemleri yapabileceğiniz alandır.</span>
                        <div class="card-header-right">
                            <ul class="list-unstyled card-option">
                                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                <li><i class="fa fa-window-maximize full-card"></i></li>
                                <li><i class="fa fa-minus minimize-card"></i></li>
                                <li><i class="fa fa-refresh reload-card"></i></li>
                                <li><i class="fa fa-trash close-card"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-block table-border-style">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Açıklama</th>
                                        <th>Adres Detay</th>
                                        <th>E Mail</th>
                                        <th>Telefon</th>
                                        <th>Açılış Saati</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Description</td>
                                            <td>@item.AddressDetail</td>
                                            <td>@item.Email</td>
                                            <td>@item.Phone</td>
                                            <td>@item.OpeningHours</td>
                                            <td><a href="/AdminAddress/DeleteAddress/@item.AddressId" class="btn btn-danger">Sil</a></td>
                                            <td><a href="/AdminAddress/UpdateAddress/@item.AddressId" class="btn btn-success">Güncelle</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/AdminAddress/CreateAddress/" class="btn btn-primary">Yeni Adres Oluştur</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

