
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@Html.Action("PartialHead", "Default")

<body>
    
    @Html.Action("PartialNavbar", "Default")
    

    
    @Html.Action("UITeacherHeaderPartial", "UITeacher")
    

    
    @Html.Action("PartialTeacher", "Default")
    

    
    @Html.Action("PartialTestimonial", "Default")
    

    
    @Html.Action("PartialFooter", "Default")
    

    
    <a href="#" class="btn btn-primary p-3 back-to-top">
        <i class="fa fa-angle-double-up"></i>
    </a>

    
   @Html.Action("PartialScripts", "Default")

    
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    
    <script src="js/main.js"></script>
</body>
</html>

